<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .jumbotron{
            background-color: #238bdc;
            color:black;
        }
    </style>
</head>
<body class="container">
<h1 class="jumbotron text-center" style="background-color: #052f50;color:white;">Quiz Management</h1>
    <form action="/logout" method="POST" >
        <input type="submit" value="logout" class="btn btn-danger" style="float: right;">
        <div class="btn-group">
            <a href = "/create_quiz" class="btn btn-info"> Create Quiz</a>
        </div>
    </form>
    <br><br>
    <table class="display" id="quiz_table">
         <thead>
            <tr>
               <th>Quiz Id</th>
               <th>Quiz Name</th>
               <th>Options</th>
            </tr>
         </thead>
         <tbody>
            {% for detail in quiz_details %}
               <tr>
                  <td>{{ detail.quiz_id }}</td>
                  <td>{{ detail.name }}</td>
                  <td><a href='/delete_quiz/{{detail.quiz_id}}' class="label label-warning">Delete</a> |
                      <a href='/edit_quiz/{{detail.quiz_id}}' class="label label-primary">Edit</a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
</body>
<script>
    $(document).ready( function () {
    $('#quiz_table').DataTable();
} );
</script>
</html>